<!DOCTYPE html>
<html id="HTML" xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
<head>
  <title>
    {{- page.title -}}
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <link rel="stylesheet" href="/static/css/main.css" type="text/css"/>

  <link type="image/x-icon" href="/static/img/favicon.ico" rel="shortcut icon">
  <link type="image/x-icon" href="/static/img/favicon.ico" rel="icon"/>
  <link type="image/png" href="http://www.gstatic.com/sites/p/95d82e/system/app/images/apple-touch-icon.png" rel="apple-touch-icon">


  <meta name="title" content="Quarteera /// Russian Queer in Germany">
  <meta itemprop="name" content="Quarteera /// Russian Queer in Germany">
  <meta property="og:title" content="Quarteera /// Russian Queer in Germany">
  <meta name="description" content="Russischsprachige LGBT in Deutschland Русскоговорящие ЛГБТ в Германии Russian Queer in Germany">
  <meta itemprop="description" content="Russischsprachige LGBT in Deutschland Русскоговорящие ЛГБТ в Германии Russian Queer in Germany">
  <meta id="meta-tag-description" property="og:description" content="Russischsprachige LGBT in Deutschland Русскоговорящие ЛГБТ в Германии Russian Queer in Germany">

  <meta content="/static/img/og-image.jpg" itemprop="image">
  <!--todo: main url-->
  <meta content="/static/img/og-image.jpg" property="og:image">
  <!--todo: main url-->

  <meta name="keywords" content=""/>
  <meta name="last-modified" content="9/25/2015 7:17:58 PM"/>

  <script src="/static/js/jquery-1.11.3.min.js"></script>
  <script src="/static/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

  <script>
    $(function ()
    {
      $("#menu").tabs(
        {
          collapsible: true,
          active: false,
          hide: {effect: "fade", duration: 300},
          show: {effect: "fade", duration: 300}
        }
      );
    });
    $(function ()
    {
      $.ajaxSetup({
        error: function (req)
        {
          if (req.status == 0)
          {
            return;
          }
          console.log(req);
          alert('Failed: ' + req.status + ' ' + req.statusText + (req.responseText && req.responseText.length < 200 ? ': ' + req.responseText : ''));
        }
      });
    });
  </script>
</head>
<body>
<header class="header">
  <div class="header__wrapper">
    <a href="/" class="header__logo">
      <img alt="{{- page.title -}}" src="/static/img/logo.png" width="128" height="149"/>
      <img class="header__logo-title" alt="Quarteera /// Russian Queer in Germany" src="/static/img/$main-logo-img-scr" width="320"/>
    </a>

    <div class="header__info">
      <ul class="header__info_hold">
        <li>
          $header-info-official
        </li>
        <li>
          $header-info-meet
        </li>
        <li>
          <a href="donate.html" class="header__lnk-donate">$main-donation</a>
        </li>
      </ul>
      <ul class="header__info_hold header__info_next">
        <li><a class="header__contact_fb" href="https://www.facebook.com/Quarteera"><img alt="Quarteera at Facebook" src="/static/img/contact-fb.svg" width="19" height="25"/></a></li>
        <li><a class="header__contact_vk" href="http://vk.com/quarteera"><img alt="Quarteera at VKontakte" src="/static/img/contact-vk.svg" width="39" height="25"/></a></li>
      </ul>
      <div class="header__info_hold header__info_last"><a href="$main-url-no-lang">$main-change-lang</a></div>
    </div>
  </div>
</header>
{{- content -}}
<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__copyright_col">
            <span class="footer__copyright">
                $footer-copyright<br/>
                <a href="">$footer-impressum</a> <a href="">$footer-contact</a>
            </span>
    </div>
    <div class="footer__menu_col">
      #parse('template/menu/menu-site-map.vm')
    </div>
  </div>
</footer>
</body>
</html>
