<div id="menu">
  <div class="screen__tools">
    <article>
      <div class="tools__welcome">
        <h1>Квартира</h1><p>Мы организация русскоговорящих геев, лесбиянок, бисексуалов, трансгендеров и их друзей в Германии.</p><p>Мы встречаемся каждую первую пятницу месяца в 19.00 по адресу Berlin, Kleiststr. 35 (LSVD)</p><p><a href="">Вступить в квартиру</a></p><p><a href="">Помочь нам</a></p>
      </div>
    </article>
    <ul class="tools__items">
      {% assign menus = site.menu %}
      {% for menu in menus %}
      <li class="tools__item {% if menu.styles %} {% for style in menu.styles %} {{ style }} {% endfor %}{% endif %}"><a href="#{{ menu.name }}">
        <span class="tools__item_col1"><img src="/static/img/tool-icon-custom.png" alt="Custom"></span>
        <span class="tools__item_col2">{{ menu.title }}</span> </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% for menu in menus %}
  <div id="{{ menu.name }}" class="screen__add {% for style in menu.styles %} {{ style }} {% endfor %}{% endif %}">
    <h2>{{ menu.title }}</h2>
    <div class="item__title">
      <img class="item__title_img" src="/static/img/title-{{ menu.name }}.png" alt="{{ menu.title }}" width="150" height="100">
      {% assign categories = site.menu.{{ menu.name }} %}
      #set($category = $article.categories.get(0))
      #foreach($item in $category.items)
      <p><a href="$item.document.uri">$item.title</a></p>
      #end
    </div>
    <div class="item__description">
      $article.description
      <br/>
      #foreach($category in $article.categories)
      #if($foreach.count > 1 )
      #foreach($item in $category.items)
      <p style="text-indent: 0.6em"><a href="$item.document.uri">$item.title</a></p>
      #end
      #end
      <br/>
      #end
    </div>
  </div>
  {% endfor %}
  #foreach($article in $menu.articles)
  <div id="$article.name" class="screen__add #if($article.styles)#foreach($style in $article.styles)$style #end#end">
    <h2>$article.title</h2>
    <div class="item__title">
      <img class="item__title_img" src="/static/img/title-${article.name}.png" alt="$article.title" width="150" height="100">
      #set($category = $article.categories.get(0))
      #foreach($item in $category.items)
      <p><a href="$item.document.uri">$item.title</a></p>
      #end
    </div>
    <div class="item__description">
      $article.description
      <br/>
      #foreach($category in $article.categories)
      #if($foreach.count > 1 )
      #foreach($item in $category.items)
      <p style="text-indent: 0.6em"><a href="$item.document.uri">$item.title</a></p>
      #end
      #end
      <br/>
      #end
    </div>
  </div>
  #end
</div>